<body class="container-fluid">
    <ul class="list-group">
        {{#each products}}
        <li class="list-group-item"> id: {{this.id}}</br>
            -Title: {{this.title}}
            -Description: {{this.description}}
            -Price: {{this.price}}
            -Code: {{this.code}}
            -Stock: {{this.stock}}</li>
        {{/each}}
    </ul>
</body>