<body class="container-fluid">

  <h1 class="text-center">Compra Finalizada</h1>
  <div class="d-flex justify-content-center">
    <div>
      {{#if result}}
      <p>Código del Ticket: {{result.code}}</p>
      <p>Fecha de compra: {{result.amount}} {{formatDate result.purchase_datetime}}</p>
      <p>Monto Total: ${{result.purchaser}}</p>
      <p>Email del comprador: {{purchaser}}</p>

      {{#if result.failedProductIds.length}}
      <h2>Productos no procesados:</h2>
      <ul>
        {{#each result.failedProductIds}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
      {{/if}}

      <a href="/profile" class="btn btn-success mt-2 mb-2">Regresar al Profile</a>
    </div>
  </div>
</body>