<body class="container-fluid">
  <div class="text-end">
    <a href="/profile" class="btn btn-success mt-2 mb-2">Regresar al Profile</a>
    <a href="/modifyProduct" class="btn btn-primary mt-2 mb-2">Modificar Productos</a>
  </div>
  <div class="row ">
    <div class="col-6">
      <h2 class="text-center">Lista de Productos</h2>
      <ul class="list-group">
        {{#each products}}
        <li class="list-group-item">
          -Title: {{this.title}}<br>
          -Description: {{this.description}}<br>
          -Price: {{this.price}}<br>
          -Code: {{this.code}}<br>
          -Stock: {{this.stock}}
        </li>
        {{/each}}
      </ul>

    </div>
    <div class="col-6">
      <form action="/addproduct" method="POST">
        <h2 class="text-center">Agregar un Producto</h2>
        <div class="row mt-5">
          <div class="col-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control mb-3" name="title" required>
          </div>
          <div class="col-6">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control mb-3" name="description" required>
          </div>
          <div class="col-6">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control mb-3" name="price" required>
          </div>
          <div class="col-6">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control mb-3" name="code" required>
          </div>
        </div>
        <div class="col-6">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" class="form-control mb-3" name="stock" required>
          <button type="submit" class="btn btn-info mb-5">Agregar Producto</button>
        </div>
      </form>

    </div>
  </div>
</body>