<body class="container-fluid">
  <div class="text-end mb-3">
    <a href="/addproduct" class="btn btn-success mt-2 mb-2">Agregar productos</a>
    <a href="/profile" class="btn btn-primary mt-2 mb-2">Regresar al Profile</a>
  </div>
  {{#each allProducts}}
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Id:</strong> {{this.id}}</br>
          <strong>Title:</strong> {{this.title}}</br>
          <strong>Description:</strong> {{this.description}}</br>
          <strong>Price:</strong> {{this.price}}</br>
          <strong>Code:</strong> {{this.code}}</br>
          <strong>Stock:</strong> {{this.stock}}</br>
          <strong>Owner:</strong> {{this.owner}}</br>

          <form action="/delete-product-stock/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-danger mb-3 mt-3">Eliminar Producto</button>
          </form>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <form action="/modify-product/{{this.id}}" method="POST">
        <div class="row">
          <div class="col-6">
            <label for="title" class="form-label"><strong>Nuevo título:</strong></label>
            <input type="text" class="form-control mb-3" name="title" required>

            <label for="stock" class="form-label"><strong>Nuevo stock:</strong></label>
            <input type="text" class="form-control mb-3" name="stock" required>

          </div>
          <div class="col-6">
            <label for="price" class="form-label"><strong>Nuevo precio:</strong></label>
            <input type="text" class="form-control mb-3" name="price" required>

            <label for="code" class="form-label"><strong>Nuevo código:</strong></label>
            <input type="text" class="form-control mb-3" name="code" required>

          </div>

          <label for="description" class="form-label"><strong>Nueva descripción:</strong></label>
          <textarea name="description" class="form-control mb-3" required></textarea>


          <button type="submit" class="btn btn-info mb-5 ">Editar</button>
        </div>
      </form>
    </div>
  </div>
  {{/each}}
</body>