<div class="container-fluid">
    <h1 class="text-center">Productos en Tiempo Real</h1>
    <ul id="product-list" class="list-group">
        {{#each products}}
        <li class="list-group-item">
            ID: {{this.id}} <br>
            Title: {{this.title}} <br>
            Description: {{this.description}} <br>
            Price: {{this.price}} <br>
            Code: {{this.code}} <br>
            Stock: {{this.stock}}
        </li>
        {{/each}}
    </ul>
<div>
    <a href="/modifyProduct" class="btn btn-info mt-2 mb-2">Modificar o Eliminar Productos</a>
    <a href="/addproduct" class="btn btn-success mt-2 mb-2">Agregar productos</a>
</div>
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/realTimeProducts.js"></script>