<body>
<div class="d-flex justify-content-center align-items-center">
  <div class="row">
<h1>Contenido del Carrito</h1>
<ul class="nav flex-column">
  {{#each cart.products}}
  <li class="nav-item">
    ID del producto: {{this.product._id}} <br>
    Title: {{this.product.title}} <br>
    Description: {{this.product.description}} <br>
    Price: {{this.product.price}} <br>
    Code: {{this.product.code}} <br>
    Stock: {{this.product.stock}}
    <p>Cantidad: {{this.quantity}}</p>
  </li>
  {{/each}}
</ul>
</div>
</div>
</body>