<div class="d-flex">
<div class="col-3 container-fluid bg-secondary pt-3">
<ul class="nav flex-column"> 
<li class="nav-item text-white"><strong>Nombre: </strong>
<span class="text-black">{{user.user.first_name}} {{user.user.last_name}}</span></li>
<li class="nav-item text-white"><strong>Email: </strong>
<span class="text-black">{{user.user.email}}</span></li>
<li class="nav-item mb-3 text-white"><strong>Rol Actual: </strong>:
<span class="text-black">{{user.user.rol}}</span></li>
<a href="/profile" class="btn btn-success">Regresar al Profile</a>
</ul>
</div>
<div class="col-9 container">
<h4 class="text-center mt-3">Debes Subir tu Documento de Identidad para poder Cambiar de Rol</h4>
<form action="/api/users/{{user.user._id}}/documents" method="POST" enctype="multipart/form-data">
    <label for="file" class="form-label">Seleccionar Documento de Identificacion:</label>
    <input type="file" name="identification" class="form-control mb-3" accept=".pdf, .doc, .docx">
    <button type="submit" class="btn btn-info mb-3">Subir Documento</button>
</form>
<form action="/api/users/{{user.user._id}}/documents" method="POST" enctype="multipart/form-data">
    <label for="file" class="form-label">Seleccionar Comprobante de Cuenta:</label>
    <input type="file" name="comprobanteCuenta" class="form-control mb-3" accept=".pdf, .doc, .docx">
    <button type="submit" class="btn btn-info mb-3">Subir Comprobante</button>
</form>
<form action="/api/users/{{user.user._id}}/documents" method="POST" enctype="multipart/form-data">
    <label for="file" class="form-label">Seleccionar Comprobante de Domicilio:</label>
    <input type="file" name="comprobanteDomicilio" class="form-control mb-3" accept=".pdf, .doc, .docx">
    <button type="submit" class="btn btn-info mb-3">Subir Comprobante</button>
</form>

<hr>
<form action="/api/users/premium/{{user.user._id}}" method="post">
    <label for="newRole" class="form-label">Selecciona un Nuevo Rol:</label>
    <select name="newRole" id="newRole" class="form-select mb-3">
        <option value="usuario" {{#if (eq user.rol "usuario" )}}selected{{/if}}>Usuario</option>
        <option value="premium" {{#if (eq user.rol "premium" )}}selected{{/if}}>Premium</option>
    </select>
    <button type="submit" class="btn btn-success">Cambiar Rol</button>
</form>

</div>
</div>
